language: python

python:
#  - "2.7"
#  - "3.3"
  - "3.4"

# install: "pip install -e . behave"

# script: "cd test/ && behave"

branches:
  only:
  - recipy_test

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - ls /home/travis
  - ls /home/travis/miniconda
  - ls /home/travis/miniconda/bin
  - export PATH=/home/travis/miniconda/bin:$PATH
  - echo $PATH
  - conda update --yes conda

install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy dateutil
  - python setup.py install

script:
  - py.test -s -v integration_test/test_recipyrc.py
