{% extends "base.html" %}

{% block content %}
{{ super() }}

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Command</th>
      <th>Script</th>
      <th>Input</th>
      <th>Output</th>
      <th>Environment</th>
      <th>Git repo</th>
      <th>Git commit</th>
    </tr>
  </thead>
  <tbody>
    {% for run in runs %}
    <tr>
      <td>
        <form class="form" role="form" action="{{ url_for('run_details') }}" method="get">
          <input type="hidden" name="id" value="{{ run.eid }}"></input>
          <input type="hidden" name="query" value="{{ query }}"></input>
          <button type="submit" class="btn btn-info">
            View details
          </button>
        </form>
      </td>
      <td>{{ run.date | datetimefilter }}</td>
      <td>{{ run.command | highlight(query) | safe }}</td>
      <td>{{ run.script | highlight(query) | safe }}</td>
      <td>{{ run.inputs | join(' ') | highlight(query) | safe }}</td>
      <td>{{ run.outputs | join(' ') | highlight(query) | safe }}</td>
      <td>{{ run.environment | join(' ') | highlight(query) | safe }}</td>
      <td>{{ run.gitrepo | highlight(query) | safe }}</td>
      <td>{{ run.gitcommit | highlight(query) | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
