{% macro code_with_search_link(query) %}
    <a href="{{ url_for('index', query=query) }}"><code>{{ query }}</code></a>
{% endmacro %}

{% macro display_file_list(files) %}
  {% if files | length > 0 %}
    {% if files[0] is string %}
      <ul class="list-unstyled">
        {% for item in files %}
          <li>{{ code_with_search_link(item) }}</li>
        {% endfor %}
      <ul>
    {% else %}
      <ul class="list-unstyled">
        {% for item in files %}
          <li>{{ code_with_search_link(item[0]) }} (hash: {{ code_with_search_link(item[1])}})</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <em>none</em>
  {% endif %}
{% endmacro %}
