{% macro code_with_search_link(text, query) %}
    <a href="{{ url_for('index', query=text) }}"><code>{{ text | highlight(query) | safe }}</code></a>
{% endmacro %}

{% macro display_file_list(files, query) %}
  {% if files | length > 0 %}
    {% if files[0] is string %}
      <ul class="list-unstyled">
        {% for item in files %}
          <li>{{ code_with_search_link(item, query) }}</li>
        {% endfor %}
      <ul>
    {% else %}
      <ul class="list-unstyled">
        {% for item in files %}
          <li>{{ code_with_search_link(item[0], query) }} (hash: {{ code_with_search_link(item[1], query)}})</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <em>none</em>
  {% endif %}
{% endmacro %}
