{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}ReciPy - Run Details{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RecipyGui</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Runs</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <!-- Search bar -->
    <form class="form" role="form" action="{{ url_for('index') }}" method="get">
      <div class="input-group col-md-12">
        <input type="text"
               class="form-control input-lg"
               placeholder="Search runs"
               id="query"
               name="query"
               value="{{ query }}" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-info btn-lg">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
    </form>

    <h3>Run Details</h3>
    <table class="table table-striped table-condensed">
      <tr>
        <td class="col-md-1">Id</td>
        <td>{{ run._id | string | highlight(query) | safe }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Date</td>
        <td>{{ run.date | datetimefilter }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Author</td>
        <td>{{ run.author | highlight(query) | safe }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Description</td>
        <td>{{ run.description | highlight(query) | safe }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Command</td>
        <td>{{ run.command | highlight(query) | safe }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Script</td>
        <td>{{ run.script | highlight(query) | safe }}</td>
      </tr>
      <tr>
        <td class="col-md-1">Inputs</td>
        <td>
          {% if run.inputs | length > 0 %}
              {{ run.inputs | join('</br>') | highlight(query) | safe }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="col-md-1">Outputs</td>
        <td>
          {% if run.outputs | length > 0 %}
              {{ run.outputs | join('</br>') | highlight(query) | safe }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="col-md-1">Environment</td>
        <td>{{ run.environment | join(' ') | highlight(query) | safe }}</td>
      </tr>
    </table>

    <h3>Git</h3>
    <table class="table table-striped table-condensed">
      <tr>
        <td class="col-md-1">Git Repo</td>
        <td>
          {{ run.gitrepo | highlight(query) | safe }}
          {% if run.gitorigin | length > 0 %}
            (online: <a href="{{ run.gitorigin | gitorigin2url | safe }}">{{ run.gitorigin | gitorigin2url | safe }}</a>)
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="col-md-1">Git Origin</td>
        <td>
          {{ run.gitorigin | highlight(query) | safe }}
        </td>
      </tr>
      <tr>
        <td class="col-md-1">Git Commit</td>
        <td>
          {% if run.gitorigin | length > 0 %}
            <a href="{{ run.gitorigin | gitorigin2url | safe }}/commit/{{ run.gitcommit | highlight(query) | safe }}">
              {{ run.gitcommit | highlight(query) | safe }}
            </a>
          {% else %}
            {{ run.gitcommit | highlight(query) | safe }}
          {% endif %}
        </td>
      </tr>
    </table>

  </div>

  {% endblock %}
